<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
				  var image_src = '../resources/img/helmet.jpg';

				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form" action="/player_info/select_player" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <!--<option selected>Select Player</option>-->
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id,
							 			but will display the player's name-->
										<% if(!result_2) { %>
											<option selected="selected" disabled="disabled"> Select Player </option>
										<%}%>
										 <% for(var i=0; i<data.length ;i++) {%>
											<% var selected = '';
											if (result_2 && result_2.id == data[i].id){
												selected = 'selected'
											} %>
											<option <%=selected %> value="<%= data[i].id%>"><%= data[i].name %></option>
										<% } %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<%
						var year = '';
						var major = '';
						var games_played = '';
						var passing_yards ='';
						var avg_passing_yards = '';
						var rushing_yards ='';
						var avg_rushing_yards = '';
						var receiving_yards ='';
						var avg_receiving_yards = '';
						console.log("I am about to be here");
						if (result_2)
						{
							//console.log(result_2[0].year);
							console.log("I am here");
							year = result_2.year;
							console.log(result_2.year);
							major = result_2.major;
							games_played = result_3;
							passing_yards = result_2.passing_yards;
							avg_passing_yards = (result_2.passing_yards/result_3).toFixed(2);
							rushing_yards = result_2.rushing_yards;
							avg_rushing_yards = (result_2.rushing_yards/result_3).toFixed(2);
							receiving_yards = result_2.receiving_yards;
							avg_receiving_yards = (result_2.receiving_yards/result_3).toFixed(2);
						}

					%>
					<table class="table">
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
						<tr>
							<th>Year</th>
							<td><%= year %>	</td>
						</tr>
						<tr>
							<th>Major</th>
							<td>	<%= major %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td>	<%= games_played %></td>
						</tr>
						<tr>
							<td>Passing Yards: <%= passing_yards %></td>
							<td>Avg. Passing Yards: <%= avg_passing_yards %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%= rushing_yards %></td>
							<td>Avg. Rushing Yards: <%= avg_rushing_yards %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%= receiving_yards %></td>
							<td>Avg. Receiving Yards: <%= avg_receiving_yards %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
